<h1 class="text-center banner my-4">Talk to coach</h1>

<form action="/answer" class="form-inline row align-items-center justify-content-center my-4">
  <input type="text" class="form-control mr-2 col-3" name="question">
  <input type="submit" class="form-control btn btn-dark" value="Ask!">
</form>
